# Python dependencies for Ansible Execution Environment

# Core dependencies - don't remove these
jmespath>=1.0.1

{%- for package in (values.requiredPythonPackages | fromJson if values.requiredPythonPackages is string else values.requiredPythonPackages) -%}
{{ package }}
{% endfor -%}
