# Python dependencies for Ansible Execution Environment

# Core dependencies - don't remove these
jmespath>=1.0.1

{% if values.requiredPythonPackages and values.requiredPythonPackages != '[]' %}
{% for package in values.requiredPythonPackages %}
{{ package }}
{% endfor %}
{% endif %}
